node_modules/

*.log
*.sqlite

backend/.env

package-lock.json
yarn.lock

/build/
/dist/
/out/

.idea/
.vscode/

*.env.local

/.pnp/
.pnp.js

build/
!build/*.html

coverage/

.DS_Store

*.tmp
*.bak

npm-debug.log*

yarn-error.log

/frontend/dist/

**/.DS_Store

**/.env.local
**/.env 

**/.env.development.local

**/.env.test.local

**/.env.production.local

TODO.md